---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mi"
	description=""
	pubDate={new Date('Noviembre 14 2023')}
	heroImage="/portada-about.png"
>
	<p>
		Desde que cursaba el último año de mis estudios secundarios, 
		mi fascinación por el mundo de la programación tomó forma durante una inolvidable pasantía en la policía de la provincia del Neuquén. 
		Fue en ese escenario dinámico donde di mis primeros pasos, descargando antiguos PDFs sobre desarrollo web
		 y sumergiéndome en la programación durante las noches. En aquel entonces, la falta de acceso a internet en casa no fue un obstáculo, 
		 sino más bien una oportunidad: aprovechaba el tiempo en la pasantía para descargar valioso material y continuar mi aprendizaje.
	</p>

	<p>
		Mi camino en la programación continuó en la universidad, donde combiné mis estudios formales con un enfoque autodidacta en desarrollo web. 
		Las noches se convirtieron en mi aliado silencioso mientras avanzaba en la construcción de mi conocimiento. 
		A lo largo de varios años de carrera universitaria, tejí una red de habilidades y conocimientos que, finalmente,
		 me permitieron dar el salto al mundo laboral.
	</p>
	<p>
		El desafío de equilibrar la academia con la experiencia práctica no solo fortaleció mis habilidades técnicas, 
		sino que también me brindó una perspectiva única sobre el desarrollo web. Desde esos primeros días de descargas nocturnas 
		hasta el momento en que pude aplicar mis conocimientos en entornos laborales, cada paso en mi viaje ha contribuido a mi crecimiento 
		como profesional de la programación.
	</p>
	<p>
		Hoy, mirando hacia atrás, veo cómo la pasión y la determinación en aquellos primeros días en la pasantía sentaron las bases
		para una carrera que sigue evolucionando. Cada desafío superado y cada línea de código escrita han sido pilares fundamentales
		en mi desarrollo, recordándome constantemente que el aprendizaje continuo y la dedicación son las claves para alcanzar el éxito
		en el fascinante mundo de la programación.
	</p>
	<p>historia real, pero el texto fue generado con chat GPT 😜</p>
</Layout>
