---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Flow from '../components/Flow';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 style="text-align: center;" class="pb-3 pt-3"> 游뱈 Hola, Dev!</h1>
			<p>
				Bienvenido a mi CV y Blog de desarrollo, aqui podras encontrar muchas de mis experiencias trabajando como desarrollador. 
				Podras ver como he resuelto algunos problemas en mi trabajo o en mis estudios, ademas de otros topicos del mundo del desarrollo.
			</p>
			<h2>Habilidades</h2>
			<section class="border-l-slate-600 border-l-2 pl-3">
				<ul>
					<li><b>Programaci칩n web B치sica:</b> html, css, js b치sico (DOM, acceso a atributos, etc).</li>
					<li><b>Programaci칩n web backend:</b> php, nodejs, mysql, mongodb(b치sico), C#.</li>
					<li><b>Metodolog칤as 츼giles:</b> Scrum (trello, jira) e integraci칩n con slack para seguimiento de tareas. </li>
					<li><b>Frameworks:</b> Vuejs, Nuxt js, Express js, Yii2, .NET</li>
					<li><b>Base de datos:</b> MySQL, MariaDB, SQLServer.</li>
					<li><b>Herramientas de Software:</b> Sequelize (ORM), JWT (json web token), Docker, Bash, Administraci칩n b치sica de linux, MS SQL Server.</li>
					<li><b>Idiomas:</b> Ingl칠s t칠cnico.</li>
				</ul>
			</section>
			<h2>Experiencia Laboral</h2>
			<ul class="border-l-slate-600 border-l-2 pl-3">
					<li>
						<h4>Desarrollador Asp .Net, Eximo Software</h4>
						<h5>Neuquen Capital, Oct 2022 - Actualmente</h5>
						<p>Trabajo dando mantenimiento a aplicaciones en .net 4.8, desarrollo apis rest en .net 6 para varios clientes.
							Ademas de que damos mantenimento a aplicaciones en PHP y estamos incurcionando en el mundo de los contenedores
							para el ambiente de desarrollo. Actualmente me encuentro desarrollando una aplicacion moil en .net maui.
						</p>
					</li>
					<li >
						<h4>Desarrolldor php, nodejs y vue js, Tree soft</h4>
						<h5>Neuquen Capital, Mar 2021 - Jul 2021</h5>
						<p>Realize el relevamiento y desarollo de varias funcionalidades de una aplicacion en php vanilla, migramos parte del 
							desarrollo a nodejs (expressjs, sequelize ORM) y vuejs.
						</p>
					</li>
			</ul>
			
			<h2>Estudios</h2>
			<ul class="border-l-slate-600 border-l-2 pl-3">
				<li>
					<h4>Licenciatura en Ciencias de la Computaci칩n. 2017 - Actualidad.</h4>
					<p>Me encuentro cursando el segundo a침o de la carrera. Promedio actual de 7.</p>
				</li>
				<li>
					<h4>Tecnicatura en Administraci칩n de Sistemas y Software Libre. 2019 - Actualidad.</h4>
					<p>Actualmente cursando el segundo a침o de la carrera. Promedio de 8.</p>
				</li>
				<li>
					<h4>Bachillerato en Ciencias Humanas y Naturales, CPEM 26. 2013 - 2016</h4>
					<p>	Estudios secundarios finalizados con promedio de 8. </p>
				</li>
			</ul>
			<hr>
			<div style="display: flex; justify-content: center;">
				<a class="bg-red-600 px-14 py-1 rounded-md mt-2 hover:text-slate-300 text-slate-300 drop-shadow-lg hover:shadow-slate-300" href="/franco_zuniga_cv.pdf" target="_blank">
					cv
				</a>
			</div>
		</main>
		<Footer />	
	</body>
</html>
